<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monscanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity android:name=".CameraActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ScanActivity"
            android:configChanges="orientation"
            android:label="@string/lib_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>